<div id="chart-course-button-open" style="{{#url_ajax}}display:none{{/url_ajax}}"
     data-defaultfullname="{{#str}}findcourse, local_helpdesk{{/str}}">
    <label>{{#str}}course{{/str}}:</label>
    <span class="select {{^url_ajax}}no-arrou{{/url_ajax}}">{{{course_fullname}}}</span>

    {{#url_ajax}}
        <span class="badge badge-danger cursor-pointer" {{^course_id}}style="display:none"{{/course_id}}>X</span>
    {{/url_ajax}}

    <input type="hidden" name="courseid" value="{{{course_id}}}">
</div>

{{#url_ajax}}
<div id="chart-course-datatable-select" style="display:none"
     data-urlajax="{{{url_ajax}}}"
     data-sesskey="{{sesskey}}"
     title="{{#str}}reports_selectcourse, local_kopere_bi{{/str}}">
    <div class="mb-3">
        <input type="search" class="form-control course-search"
               placeholder="{{#str}}search{{/str}}" autocomplete="off">
    </div>
    <table id="datatable_course_select" class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>{{#str}}course{{/str}}</th>
            <th>{{#str}}shortname{{/str}}</th>
            <th>{{#str}}category{{/str}}</th>
        </tr>
        </thead>
        <tbody class="hover-pointer"></tbody>
    </table>
</div>
{{/url_ajax}}
