<div id="chart-user-button-open" style="display:none"
     data-defaultfullname="{{#str}}finduser, local_helpdesk{{/str}}">
    {{^hide_openuserby}}<label>{{#str}}user{{/str}}:</label>{{/hide_openuserby}}
    <span class="select">{{{user_fullname}}}</span>
    <span class="badge badge-danger cursor-pointer" {{^user_id}}style="display:none"{{/user_id}}>X</span>
    {{^hide_find_user}}<input type="hidden" name="find_user" value="{{{user_id}}}">{{/hide_find_user}}
</div>

<div id="chart-user-datatable-select" style="display:none"
     data-urlajax="{{{url_ajax}}}"
     data-sesskey="{{sesskey}}"
     title="{{#str}}reports_selectuser, local_kopere_bi{{/str}}">
    <div class="mb-3">
        <input type="search" class="form-control user-search"
               placeholder="{{#str}}search{{/str}}" autocomplete="off">
    </div>
    <table id="datatable_user_select" class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>{{#str}}name{{/str}}</th>
            <th>{{#str}}username{{/str}}</th>
            <th>{{#str}}email{{/str}}</th>
        </tr>
        </thead>
        <tbody class="hover-pointer"></tbody>
    </table>
</div>
