<div class="row top-tikets-infos">
    <div class="col-sm-3">
        <div class="ticket-card ticket-card-1">
            <div class="card-body">
                <p class="top-ticket-title">{{#str}}index_top_all_open_tickets, local_khelpdesk{{/str}}</p>
                <h3>{{{all_open_tickets}}}</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ticket-card ticket-card-2">
            <div class="card-body">
                <p class="top-ticket-title">{{#str}}index_top_unanswered_tickets, local_khelpdesk{{/str}}</p>
                <h3>{{{unanswered_tickets}}}</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ticket-card ticket-card-3">
            <div class="card-body">
                <p class="top-ticket-title">{{#str}}index_top_completed_tickets, local_khelpdesk{{/str}}</p>
                <h3>{{{completed_tickets}}}</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ticket-card ticket-card-4">
            <div class="card-body">
                <p class="top-ticket-title">{{#str}}index_top_urgent_tickets, local_khelpdesk{{/str}}</p>
                <h3>{{{urgent_tickets}}}</h3>
            </div>
        </div>
    </div>
</div>
