{{#responsefiles_count}}
    <div><strong>{{#str}}attachment, local_khelpdesk{{/str}}</strong></div>
    {{#responsefiles}}
        <div><a href="{{fullurl}}">{{{filename}}}</a></div>
    {{/responsefiles}}
{{/responsefiles_count}}
